# Configuration file format
# Lines beginning with a '#' symbol are ignored

# This line allows configuration of the different types which are allowed for
# for each expenditure.
#
# Whitespace will not be stripped and different types must be comma separated.
#
# The line must begin with the characters 'type:'.
#
# If more than one line begins with 'type:' the last line will be the one that
# is used.
#
# If no line specified these then an error will occur.
type:Food,Travel
